---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Thanos
        type: prometheus
        url: http://thanos-query.monitoring.svc.cluster.local:9090/thanos
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: "5s"
      - name: Prometheus
        type: prometheus
        url: http://prometheus-service.monitoring.svc.cluster.local:9090/prometheus
        access: proxy
        jsonData:
          timeInterval: "5s"