---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: monitoring
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '9090'
spec:
  selector:
    app: prometheus-server
  type: ClusterIP
  ports:
    - name: prometheus
      port: 9090
      targetPort: 9090
    - name: thanos-grpc
      port: 10901
      targetPort: 10901
    - name: thanos-http
      port: 10902
      targetPort: 10902